#
# This file should be installed to /etc/udev/rules.d so that you can access the ingenic hardware without being root
#
# type this at the command prompt: sudo cp 99-IngenicBoot.rules /etc/udev/rules.d

SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", SYSFS{idVendor}=="601a", SYSFS{idProduct}=="4740", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", SYSFS{idVendor}=="601a", SYSFS{idProduct}=="4750", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", SYSFS{idVendor}=="601a", SYSFS{idProduct}=="4760", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", SYSFS{idVendor}=="a108", SYSFS{idProduct}=="4770", MODE="0666"
